.aboutSection {
  background-color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; 
  
}
.aboutMeContainer {
  position: relative;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 4% 0;
  box-shadow: lightslategray 1px 1px 3px;
  width: 80vw;
  height: 80vh;
  margin: 0 auto;
  border-radius: 1%;
  background-color: white;


}

.aboutMeContainer .aboutMe {
flex-basis: 50%;
display: flex;
flex-direction: column;
text-align: center;
justify-content: center;
}

.aboutMeContainer .aboutMe h1 {
  margin: 0 auto;
  width: 30%;
  border-bottom: 2px solid #ff9999;
  padding-top: 5%;
  font-size: 3rem;
}

.aboutMeContainer .aboutMe p {
  font-size: 1.3rem;
  width: 60%;
  margin: 5% auto 0;
  text-align: justify;
  text-align-last: center;
  
}

.aboutMeContainer .skills{
  flex-basis: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;  
  align-content: space-between;
}

.aboutMeContainer .aboutMe img { 
  width: 100%;
  margin: 0 auto;
  transition: 2s ease;
  overflow: hidden;
}

.aboutMeContainer .aboutMe .zoom { 
  overflow: hidden;
  width: 35%;
  margin: 0 auto;
  border-radius: 10%;
}

.aboutMeContainer .aboutMe img:hover { 
  transform: scale(1.1);
}

.aboutMeContainer .skills svg{
  font-size: 110px;
  color: #333;
  opacity: .9;
}

.aboutMeContainer .skills .skill {
  flex-basis: 33%;
  text-align: center;  
  transition: 1s ease;
}

.aboutMeContainer .skills .skill:hover  {
  transform: scale(1.1);
}
.aboutMeContainer .skills h1 {
  text-align: center;
  flex-basis: 100%;
  font-size: 3.2rem;
}


.aboutMeContainer .skills h3 {
  opacity: 0;
  transition: .5s;
}

.aboutMeContainer .skills .skill:hover h3  {
  opacity: 1;
}
.aboutMeContainer .skills .skill:hover svg  {
  opacity: 1;
}

@media(max-width: 420px){

  .aboutSection {
    height: auto;
  }
  .aboutMeContainer {
    flex-direction: column;
    padding: 10% 0 0 0;
    width: 100%;
    height: 100%;
    background-color: white;
  }
  .aboutMeContainer .aboutMe h1 {
    width: 80%;
  }

  .aboutMeContainer .aboutMe p {
    font-size: 1.3rem;
    width: 80%;   
    margin-bottom: 5%; 
  }

  .aboutMeContainer .aboutMe .zoom { 
    width: 80%;
    margin: 0 auto;
    border-radius: 10%;
  }

  .aboutMeContainer .skills h1{
    margin-bottom: 5%;
  }

  .aboutMeContainer .skills svg{
    font-size: 70px;
  }

  .aboutMeContainer .skills .skill {
    margin-bottom: 5%;
  }
}