.contactSection {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100vh;
  flex-direction: column;

}

.contactSection h1 {
  font-size: 4rem;
  font-weight: normal;
  padding-top: 8vh;
  font-weight: 300;

}

.contactSection .contact-form {
  margin: auto;
  width: 80%;
}


.contactSection .contact-form label{
  width: 100%;
  font-size: 3rem;
  }

.contactSection .contact-form input{
width: 100%;
margin: .5vh 0 2vh 0;
padding: 5px 5px;
font-size: 3rem;
}
.contactSection .contact-form input:focus{
  outline: none;
  border: 2px solid #ff9999;
  border-radius: 5px;
  box-shadow: 0 0 3px #ff9999;
  }

.contactSection .contact-form input:nth-last-child(1){
display: block;
border-style: none;
color: whitesmoke;
background-color: #222;
border: white solid 2px;
padding: 10px 10px;
width: 10%;
border-radius:10px;
cursor: pointer;
transition: .3s;
margin: 0 auto;
font-weight: normal;
}

.contactSection .contact-form input:nth-last-child(1):hover{
  color: #ff9999;
  }

.contactSection .contact-form textarea{
  width: 100%;
  padding: 5px 5px;
  font-size: 1.5em;
  height: 20vh;
  resize: none;
  margin: .5vh 0 2vh 0;
}

.contactSection .contact-form textarea:focus{
  outline: none;
  border: 2px solid #ff9999;
  border-radius: 5px;
  box-shadow: 0 0 3px #ff9999;
}

@media(max-width: 420px){

  .contactSection h1 {
    width: 80%;
    text-align: center;
    font-size: 2.5rem;
    padding-top: 3vh;
    padding-bottom: 3vh;
  }
  .contactSection .contact-form label{
    font-size: 2.5rem;
    }
  .contactSection .contact-form input{
    margin: .5vh 0 2vh 0;
    padding: 5px 5px;
    font-size: 1.5rem;
  }
  .contactSection .contact-form input:nth-last-child(1){
    width: 30%;
    margin: 0 auto 3vh;
    }
    .contactSection .contact-form textarea{
      font-size: 1rem;
      margin-bottom: 8vh;
    }
}


