footer {
  background-color: #222;
  color: whitesmoke;
  font-weight: 400;
  padding: 30px 30px;
}
footer .footer-container {
  text-align: center;
  width: 100%;
}
footer .footer-container .social{
  margin: 20px 0;
}
footer .footer-container .social svg{
  margin: 0 10px;
  cursor: pointer;
  transition: .3s;

}

footer .footer-container .social svg:hover{
  color: #ff9999;

}
footer .footer-container h1{
  font-size: 2rem;
  font-weight: 400;

}

footer .footer-container h2{
  font-size: 1rem;
  font-weight: 400;
}

@media(max-width:1025px){

}

@media(max-width: 420px){
  footer .footer-container h2{
    font-size: .6rem;
  }
  footer .footer-container h1{
    font-size: 1.5rem;
  }
}

