.project-box {
  flex-basis: 30%;
  text-align: center;
  border: 1px solid whitesmoke;
  height: 40%;
  box-shadow:white 0 0 3px;
  border-radius: 3%;
  overflow: hidden;
  background: url('../img/code.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.project-box .projectTitle{
  font-size: 2rem;
  text-transform: uppercase;
  padding: 3% 0;
  background-color:whitesmoke;
  opacity: .85;
  color: black;
}

.project-box .projectDescription {
  opacity: 0;
  transition: .5s;
  background-color: black;
  height: 100%;
  font-size: 1.4rem;
  padding: 5% 5%;
  cursor: default
}

.project-box:hover .projectDescription{
  opacity: .8;
}

.project-box .projectDescription p{
  color: white;
  text-align: justify;
}

.project-box .buttonContainer{
  position: absolute;
  left: 50%;
  bottom: 3%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.project-box .buttonContainer a{
text-decoration: none;
background-color: white;
color: black;
padding: 5px 10px;
font-size: 2rem;
margin: 0 10%;
border-radius: 10%;
box-shadow: 0 0 5px whitesmoke;
height: 100%;
opacity: .85;
width: 40px;
}

.project-box .buttonContainer a:nth-of-type(1):hover{
  background-color: #222;
  color: white;
  box-shadow:none;
  }
  .project-box .buttonContainer a:nth-of-type(2):hover{
    background-color: #222;
    color: white;
    box-shadow: none;
    }
 
    
@media(max-width: 1025px){
  .project-box {
    flex-basis: 48%;
    margin: 3% 0;
    height: 350px;
  }

  .project-box .projectTitle{
    font-size: 1.5rem;
  }

  .project-box .projectDescription {
    opacity: .8;
    height: 50vh;
  }
  .project-box .projectDescription p{
    font-size: 1.3rem;
  }

  .project-box .buttonContainer a{
    background-color: white;
    color: black;
    padding: 5px 10px;
    font-size: 1.6rem;
    margin: 0 10%;
    border-radius: 10%;
    box-shadow: 0 0 5px whitesmoke;
    height: 100%;
    opacity: .85;
    width: 40px;
    }
  
}


@media(max-width: 420px){
  .project-box {
    flex-basis: 100%;
    margin: 10% 0;
    height: auto;
  }

  .project-box .projectTitle{
    font-size: 1.3rem;
  }

  .project-box .projectDescription {
    height: 50vh;
    font-size: 1.2rem;
  }
  .project-box .projectDescription p{
    font-size: 1.25rem;
  }
  .project-box .buttonContainer{
    bottom: 1%;
  }
  
}

@media (max-width: 850px) and (orientation: landscape){
  .project-box {
    margin: 3% 0;
    height: 300px;
  }

  .project-box .projectDescription {
    height: 100%;
  }

  .project-box .projectDescription p{
    font-size: 1rem;
  }
}
